


body{
    background-image: url('gambar/bcg_putih.jpg');
    background-size: cover;
    
}

 
 
.comment-container {
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
}
.comment-header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.comment-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.comment-header .username {
    font-weight: bold;
}
.comment-body {
    padding: 15px;
}
.comment-body .likes {
    font-weight: bold;
    margin-bottom: 10px;
}
.comment-body .caption {
    margin-bottom: 10px;
}
.comment-footer {
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}



col{
    margin-top: 10px;
}
col-md-4 text-center{
    justify-content: center;
    position: center;
}